
### Project
BUILD_NAME="pxnProject"


### build mvn
MAVEN_GOALS="clean install source:jar"
POM_FILES=(
        "${PWD}/pom.xml"
)


### build rpm
SPEC_FILE="${BUILD_NAME}.spec"
RPM_SOURCE="target/"


### Deploy
RESULT_FILES=(
	"target/<BUILD_NAME>-<BUILD_VERSION>.jar"
	"target/<BUILD_NAME>-<BUILD_VERSION>-sources.jar"
	"target/<BUILD_NAME>-<BUILD_VERSION>-1.noarch.rpm"
)

