
### Project
BUILD_NAME='SampleProject'
ConfigVersion=4
# optional
#ReadVersionFromComposer


### build mvn
BuildMVN \
	'GOALS' 'clean install source:jar'


### build rpm
BuildRPM \
	'ARCH' 'noarch' \


### Deploy
DeployFiles \
	'target/<BUILD_NAME>-<BUILD_VERSION>.zip' \
	'target/<BUILD_NAME>-<BUILD_VERSION>.jar' \
	'target/<BUILD_NAME>-<BUILD_VERSION>-sources.jar' \
	'target/<BUILD_NAME>-<BUILD_VERSION>-1.noarch.rpm'
